.item {
  border: 1px solid gray;
  text-align: center;
  line-height: 0;
  padding: 6px;
  position: relative;
  height: auto;
  min-height: 250px;
}
.item:hover {
  background-color: #e9ecef;
  opacity: 0.7;
}
.itemImg {
  width: 100%;
  height: 250px;
}
.itemModalImg{
  width: 100%;
  height: 580px;
}
.loadingBar {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  /* height: 200px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loaded {
  opacity: 1;
}
.hoverNone {
  pointer-events: none;
}
.modalContainer {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 90vh;
}