.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  color: white;
  background: teal;
  z-index: 1;
}
.wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  padding: 5px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
.paginations {
  position: sticky;
  bottom: 0;
  left: 0;
  background: white;
  height: 45px;
}
.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 812px;
}