ul {
  align-items: center;
  display: inline-flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}
li {
  align-items: center;
  display: flex;
  cursor: pointer;
}
span {
  border: none;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  background-color: #fff;
  border-color: #dee2e6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 5px;
}
span:hover {
  background-color: #e9ecef;
  opacity: 0.7;
}
.active >>> span {
  background-color: teal;
  border-color: #dee2e6;
  color: white;
}